@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

 
 :root{
    background-color: #013444;
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;

}
    *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}


h1{
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

 h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
    color: #fff;
} 

.click-on{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.fa-handshake{
    font-size: 80px;
    color: #fff;
    margin-bottom: 2rem;
}

.container > *{
    width: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

#start-button{
    color: #fff;
    background-color: #51b64b;
    text-decoration: none;
    padding: 15px;
    font-size: 17px;
    border: 0.1rem solid #51b64b;
    border-radius: 4px;
    width: 15rem;
    text-align: center;

}

#start-button:hover{
    color: #51b64b;
    background-color : #fff;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

button{
    cursor: pointer;
} 






